$PoppinsL: Poppins-Light;
$PoppinsR: Poppins-Regular;
$PoppinsM: Poppins-Medium;
$PoppinsSB: Poppins-SemiBold;
$PoppinsB: Poppins-Bold;

$logbgcolor: linear-gradient(109.21deg, #F9FDFF 0%, #35A1FB 97.83%);
$btnbg: linear-gradient(180deg, #06ABE4 0%, #3c5bb4 100%);
$white_background:#fff;
$lightblkbg:rgba(0,0,0,0.4);
$tblheadingbg:#2296A3;
$tblevenbg:#FAFAFA;
$tblhalfbg:#FFCC6F;
$redbg:#FC5A48;	
$grayback: #e5e5e5;
																																							

$titlesize:17px;
$titleLheight:22px;
$commonFontSize:14px;
$font36: 36px;
$font30: 30px;
$font27:27px;
$font25:25px;
$font24:24px;
$font22: 22px;			  
$font21: 21px;
$font20: 20px;
$font19:19px;
$font18:18px;
$font17:17px;
$font16:16px;
$font15:15px;
$font14:14px;
$font13:13px;
$font12:12px;
$font11:11px;

$blkColor:#000;
$redColor:red;
$lightRedColor:#ED3D5D;
$whiteColor: #fff;				  
$blkbgun: #10182B;
$blkbg: #323C47;
$blkbglight: #515561;
$darkblack: #192A3E;
$lightdark: #4F4F4F;
$lightdarkbg: #4F5A6A;
$silvergray: #7A8798;
$silverlight: #707683;
$graydark: #656A78;
$graydarkcommon: #4C5862;
$whitecolor: #fff;
$lightwhite: #F5F6F8;
$lightwhitebg: #DEEBFF;					   
$whitebg: #EEF0F5;
$whitebglight: #F4F6F6;	
$slidewhitebg: #f8fafb;	
$whitebgun: #E2E5E8;			   
$grey: #787878;
$deepgreybg: #707683;					 
$greybg: #C2CFE0;
$greybgdark: #A8ABBA;
$slidegreybg: #6A707E;
$lightgrey: #90A0B7;
$lightgraybg: #FFFFFF;
$silverbg: #EFEFEF;
$silverlightbg: #cccccc;
$silverbglight: #EEF2F5;
$lightsilver: #EBEFF2;
$lightgray: #F5F7FA;
$slidewhite: #DADADA;
$slidewhitebg2: #D9D9D9;
$lightgrayuncommon: #dee2e6;							
$redColor:#FF3C5F;
$lightred: #FF007F;	  
$lightbluecolor: #006f7b;
$yellow:#febe34;
$grn:#51c01a;
$deepgrn:#2ED47A;
$lightgreen: #14CC9E;
$deepblue:#243656;;
$bluebg: #334D6E;
$bluedark: #222B45;
$bluedarkun: #2E3A59;
$deepbluebg: #1a233b;
$bluecolor: #3c5bb4;
$lightblue: #5f91d6;
$lightbg: #128fa1; 
$lightsky: #06D9F4;
$lightskybg: #128ea0;
$lightskyD: #D2DBFF;
$whitesetF9: #f9f9f9;
$gray9: #999;
$blackset3E: #3E3E3E;
$lightredun: #FA8DC8;
$pinklight: #E3BAEE;
$pink: #F11AE9;
$blue1F: #1F41F7;
$blueset43: #43B0FE;
$lightblueun: #B9E4FC;
$yellowlightset:#FFF61B;
$yellowsetFF: #FFB55E;
$yellowdeep:#F5CA98;
$yellowdeepun:#FFA41B;
$grnbg: #45DB8A;
$lightgrayun: #F7F9FC;	
$gray63: #637381;	
$green08: #08DF95;	
$black0B: #0B1118;
$blue42: #42A8E5;
$blue20: #203D5C;
$graye9: #e9ecef;
$gray9D: #9DA8B7;
$grayC5: #C5C5C6;
$grayDD: #ddd;

$fullwidth:100%;
$fullscreenwidth:100vw;
$fullscreenHeight:100vh;
$fullHeight:100%;					 

$fl:left;
$fr:right;
$fn:none;
$alignLT:left;
$alignRT:right;
$alignCT: center;

$inblock:inline-block;
$displayNone: none;
$displayBlock: block;


$light:300;
$regular:400;
$semi-bold:600;
$bold:800;

$absPosition:absolute;
$fxdPosition:fixed;
$relPosition:relative;


$logpageshadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
$btnshadow: 0px 24px 48px -18px rgba(21, 70, 160, 0.5);
$CommonBoxShadow:0px 4px 15px rgba(0, 0, 0, 0.25);
$BoxShadowNone:none;
$CommonTextShadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

$margin0:0px;
$padding0:0px;

$bradius:0px;
$bradius4:4px;
$bradius6:6px;
$bradius10:10px;
$bradius12:12px;
$bradius14:14px;
$bradius15:15px;
$bradius16:16px;
$bradius17:17px;
$bradius20:20px;
$bradius30: 30px;
$bradius35: 35px;

$cursorP:pointer;
$cursorN:none;