@import "var";
@import "profilemixin";

@media (min-width: 3000px) and (max-width: 5999px) {
    .mdifyAttendancetab .attendancetabContent .progressBoxesAttendancetab .inprogresslabel {
        padding: 0.6vw 0 0 0;
    }
}
@media (min-width: 2200px) and (max-width: 3999px) {
    .mdifyAttendancetab .attendancetabContent .progressBoxesAttendancetab .inprogresslabel {
        padding: 1vw 0 0 0;
    }
    .mdifyCounterstab {
        height: 30vw !important;
    }
}
@media (min-width: 2000px) and (max-width: 2199px) {
    .profilemaincontainer.profilecontentdispaly {
        height: 48vw !important;
    }
    .profilepersonalcon {
        height: 32vw !important;
    }
    .profilemaincontainer .documentsconinner {
        min-height: 27vw !important;
        max-height: 27vw !important;
    }
    .profilemaincontainer .verticaltabsinner .tableviewdocinner {
        min-height: 28vw !important;
        max-height: 28vw !important;
    }
    .careerchartview .horizontal-timeline > .horizontal-timeline-wrapper {
        height: 53vh !important;
    }
    .mdifyCounterstab {
        height: 30vw !important;
    }
}
@media (min-width: 1600px) and (max-width: 1999px) {
    .applyLeaveTab .agViewBox .aggridview {
        height: 47vh;
    }
    .profilemaincontainer.profilecontentdispaly {
        height: 40vw !important;
    }
    .profilepersonalcon {
        height: 25.5vw !important
    }
}
@media (min-width: 1500px) and (max-width: 1550px) {
    .profilecontainer.mdifyCounterstab{
        height: 23vw;
    }
}
@media (min-width: 1280px) and (max-width: 1399px) {
    .profilemaincontainer.profilecontentdispaly {
        height: 40vw !important;
    }
    .profilepersonalcon {
        height: 25.5vw !important;
    }
    .profilemaincontainer .documentsconinner {
        min-height: 18vw !important;
        max-height: 18vw !important;
    }
    .profilemaincontainer .verticaltabsinner .tableviewdocinner {
        min-height: 17vw !important;
        max-height: 17w !important;
    }
    .careerchartview .horizontal-timeline > .horizontal-timeline-wrapper {
        height: 44vh !important;
    }
}
@media (min-width: 1200px) and (max-width: 1399px) {
    .row:nth-child(2).rowbox{
        .datepickerinnerbox{
            .DatePicker {
                .DatePicker__calendarContainer{
                    top: 100% !important
                }
            }
        }
    }
    .profilemaincontainer .profiletabsview .tabsmainbox.nav-tabs .nav-link {
        padding: 0vw 1.2rem .5vw 1.2rem;
    }
    .mdifyAttendancetab .attendancetabContent .historicalBox {
        height: 14vw;
        width: 46.3vw;
    }
    .profilemaincontainer .backtoworker {  font-size: 30px !important; }
    .left_bar_customize.left-bar .side-nav .nav-item.lastitemview {
        padding: 5.5vw 0vw 0vw 0.2vw !important;
    }
    .dropdownbox{ input{top: -7px;}}
    .profilemaincontainer .profiletabsview .profilecontainer .inputviewinner {
        width: 80% !important;
    }
    .profilemaincontainer .profiletabsview .profilecontainer .rightsideview {
        width: 20% !important;
        text-align: left !important;
    }
    .profilecontentdispaly.profilemaincontainer .profilepersonalcon .inputlabelview {
        width: 40% !important;
    }
    .profilecontentdispaly.profilemaincontainer .profilepersonalcon .inputfieldview {
        width: 60% !important;
    }
    .profilemaincontainer .profiletabsview .profilecontainer .inputfieldview.profiledropdown.entreprisesdropdown {
        width: 58.5% !important;
    }
    .profilemaincontainer .profiletabsview .profilecontainer .managerfieldrow .inputfieldview {
        width: 58.5% !important;
    }
    .submitbtnprofile {
        margin-left: 4vw !important;
    }
    .profilemaincontainer .profiletabsview .profilecontainer .rightsideview .cancelbtn {
        margin: 0vw 0vw 0vw 10vw !important;
    }
    .applyLeaveTab .agViewBox .aggridview {
        height: 45vh !important;
    }
    .mdifyCounterstab {
        height: 26vw !important;
    }
}
@media (min-width: 992px) and (max-width: 1199px) {
    .row:nth-child(2).rowbox{
        .datepickerinnerbox{
            .DatePicker {
                .DatePicker__calendarContainer{
                    top: 100% !important
                }
            }
        }
    }
    .profilemaincontainer .profiletabsview .tabsmainbox.nav-tabs .nav-link {
        padding: 0vw 0.8rem .5vw 0.8rem;
    }
    .mdifyAttendancetab .attendancetabContent .historicalBox {
        height: 13vw;
        width: 58vw;
    }
    .profilemaincontainer .backtoworker {  font-size: 25px !important; }
    .left_bar_customize.left-bar .side-nav .nav-item.lastitemview {
        padding: 5.5vw 0vw 0vw 0.2vw !important;
    }
    .dropdownbox{input{top: -7px;}}
    .profilemaincontainer .profiletabsview .profilecontainer {
        padding: 3.1vw 0px 0px 8.5vw !important;
        height: 55vh !important;
    }
    .profilemaincontainer .profiletabsview .mdifyCounterstab {
        padding: 1vw 5.9vw 0px 2.6vw !important
    }
    .profilemaincontainer .profiletabsview .profilecontainer .inputviewinner {
        width: 85% !important;
    }
    .profilecontentdispaly.profilemaincontainer .profilepersonalcon .inputlabelview {
        width: 38% !important;
    }
    .profilecontentdispaly.profilemaincontainer .profilepersonalcon .inputfieldview {
        width: 62% !important;
    }
    .profilemaincontainer .profiletabsview .profilecontainer .inputfieldview.profiledropdown.entreprisesdropdown {
        width: 60% !important;
    }
    .profilemaincontainer .profiletabsview .profilecontainer .managerfieldrow .inputfieldview {
        width: 60% !important;
    }
    .profilemaincontainer .profiletabsview .profilecontainer .rightsideview {
        width: 15% !important;
        text-align: left !important;
    }
    .submitbtnprofile {
        margin-left: 3vw !important;
    }
    .profilemaincontainer .profiletabsview .profilecontainer .rightsideview .cancelbtn {
        margin: 0vw 0vw 0vw 9vw !important;
    }
    .profilemaincontainer .profiletabsview .careerchartview  {
        padding: 1vw 0px 0px 8.5vw !important;
        height: 55vh !important;
    }
    .profilecontainer.applyLeaveTab {
        height: 50vh !important;
    }
    .applyLeaveTab .agViewBox .aggridview {
        height: 42vh !important;
    }
    .profilemaincontainer .profiletabsview .applyLeaveTab {
        padding: 1vw 0px 0px 0vw !important;
    }
    .profilemaincontainer .profiletabsview .mdifyCounterstab.profilecontainer  {
        height: 26vw !important;
    }
    .profilemaincontainer .profiletabsview .mdifyAttendancetab {
        padding: 1vw 0px 0px 1.5vw !important;
        height: 55vh !important;
    }
    .profilemaincontainer .profiletabsview .mdifySkillstab {
        padding: 0.6vw 2vw 0vw 2vw !important;
        height: 50vh !important;
    }
    .profilemaincontainer .profiletabsview .mdifyTraningtab {
        padding: 0.6vw 2vw 0vw 2vw !important;
        height: 52vh !important;
    }
    .profilemaincontainer .profiletabsview .traningtabContent {
        min-height: 19.5vw;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    .mdifyAttendancetab .attendancetabContent .historicalBox {
        height: 11vw;
        width: 60vw;
    }
}
@media all and (display-mode: fullscreen){
    .mdifyAttendancetab .attendancetabContent .historicalBox {
        height: 22vw !important;
    }
    .profilepersonalcon {
        height: 29vw !important;
    }
    .profilemaincontainer.profilecontentdispaly{
        height: 46vw !important;
        .verticaltabsinner .tableviewdocinner {
            min-height: 25vw !important;
            max-height: 25vw !important;
        }
        .documentsconinner {
            min-height: 25vw !important;
            max-height: 25vw !important;
        }
    }
    .careerchartview .horizontal-timeline > .horizontal-timeline-wrapper {
        height: 47.5vh !important;
    }
    .mdifyCounterstab {
        height: 31vw !important;
    }
    .profilemaincontainer .profiletabsview .mdifySkillstab {
        height: 30vw;
    }
    .profilemaincontainer .profiletabsview .mdifyTraningtab {
        height: 54vh !important;
    }
    .profilemaincontainer .profiletabsview .traningtabContent {
        min-height: 25vw;
    }
    .mdifyAttendancetab .attendancetabContent .historicalOutBox {
        height: 22vw;
    }
}


